// Colours
$color-brand: #559;
$color-brand-text: #FFF;

$color-black: #131217;
$color-grey-darkest: #444148;
$color-grey-dark: #777;
$color-grey-mid: #999;
$color-grey-light: #bbb;
$color-grey-lightest: #ddd;
$color-white: #fafafa;


$color-body-text: $color-grey-darkest;
$color-body-bg: $color-white;
$color-body-link: $color-brand;
$color-body-link-hover: $color-brand;
$color-body-keyline: $color-grey-light;



// Sizes
$size-grid-unit: 16px;
$size-grid-unit-small: 8px;
$size-grid-unit-tiny: 4px;

$size-header-height: 32px;
$size-tabs-height: 80px;

$size-width-limit: 1280px;

// Fonts
$font-body: sans-serif;
$font-heading: 'Baloo Bhai', sans-serif;
