<div class="loading">
    <svg class="loading__spinner" xmlns="http://www.w3.org/2000/svg">
        <circle class="loading__path" fill="none" stroke-width="4" cx="14" cy="14" r="10"></circle>
    </svg>
</div>