.board {
    @extend .grid;
    @extend .grid--flush;
    @include flex-flow(column);
    overflow: hidden;
    position: relative;
    height: 100%;
}

.board__hub-intro {
    @extend .g;
    padding: $size-grid-unit 0;
    background: $color-brand;
    color: $color-white;
}
.board__hub-flag {
    float: right;
    margin-left: $size-grid-unit;
    display: block;
    max-width: 30%;
    border: solid 2px $color-black;
    background: $color-white;
    width: 160px;
    height: 90px;
}

.board__map {
    @extend .g;
    @include flex(1);
    position: relative;
}

.board__hub-detail {
    position: absolute;
    top: 0;
    padding: $size-grid-unit;
    background: rgba(0,0,0,0.4);
    color: $color-white;
}