.game-body {
    &,
    .body-area,
    .game {
        width: 100%;
        height: 100%;
    }
}

.game__panel {

}

.game__panel--active {
    @include mq($until: xl) {
        height: calc(100vh - #{$size-header-height});
    }
}

.game__panel--board {
    @include mq($from: xl) {
        height: 64vh;
    }
}
.game__panel--player,
.game__panel--abilities {
    background: green;
    @include mq($from: xl) {
        height: calc(36vh - #{$size-header-height});
    }
}

.game__panel--location {
    background: goldenrod;
}
.game__panel--abilities {
    background: brown;
    overflow: auto;
}

.game__travelling {
    position: relative;
    background: $color-white;
}
.game__travelling-details {
    position: absolute;
    bottom: $size-grid-unit;
    display: block;
    width: 100%;
}
.game__travelling-visual {
    display: block;
    width: 100%;
    height: 100%;
    background: $color-white;
}
