.map {
    overflow: hidden;
    background: #66a9de;
    background: radial-gradient(circle at center, #66a9de 0%, #0b3454 80%);
    line-height: 0;
    height: 100%;
    width: 100%;
}

.map__board {
    //transform: perspective(500px) rotateX(40deg);
}

.map__grid {
    fill: transparent;
    stroke: #5c91bb;
    stroke-width: 1px;
}

.map__grid--visible {
    fill: #a2c9e4;
}

.map__hub {
    fill: #84aa7b;
}

.map__hub--current {
    stroke: $color-black;
    stroke-width: $size-grid-unit-small;
}

.map__hub--available {
    cursor: pointer;
}

@keyframes SPOKEVOID {
    from {
        stroke-dashoffset: 400;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.map__spoke {
    stroke: $color-black;
    stroke-width: $size-grid-unit-small;
    stroke-dasharray: 50;
}
.map__spoke--void {
    animation: SPOKEVOID 10s linear infinite;
}