{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div id="app-players-list" data-initial="{{ feedData|json_encode }}">
        <h1 class="g-unit">Players</h1>
        <ul class="grid">
            {% for player in players %}
                <li class="g 1/2">{% include '@partials/_player.html.twig' with {player:player} %}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
