.points,
.protection {
    padding-left: 24px;
    position: relative;

    &:before {
        content: '\2b22';
        font-size: 24px;
        vertical-align: middle;
        margin-right: 4px;
        position: absolute;
        left: 0;
        top: -6px;
    }
}

.protection:before {
    content: '\1f6e1';
}
