{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <style>
        .map__row {
            line-height: 0;
            margin-top: -16px;
        }
        .map__row:nth-child(even) {
            margin-left: 24px;
        }
        .map__cell {
            display: inline-block;
            position: relative;
            width: 48px;
            height: 27.71px;
            background-color: #ffffff;
            margin: 13.86px 0;
            border-left: solid 1px #d1d1d1;
            border-right: solid 1px #d1d1d1;
        }
        .map__cell:before,
        .map__cell:after {
            content: "";
            position: absolute;
            z-index: 1;
            width: 33.94px;
            height: 33.94px;
            -webkit-transform: scaleY(0.5774) rotate(-45deg);
            -ms-transform: scaleY(0.5774) rotate(-45deg);
            transform: scaleY(0.5774) rotate(-45deg);
            background-color: inherit;
            left: 6.0294px;
        }

        .map__cell:before {
            top: -16.9706px;
            border-top: solid 1.4142px #d1d1d1;
            border-right: solid 1.4142px #d1d1d1;
        }

        .map__cell:after {
            bottom: -16.9706px;
            border-bottom: solid 1.4142px #d1d1d1;
            border-left: solid 1.4142px #d1d1d1;
        }

        .map__cell--hub {
            background-color: #008080;
        }
    </style>
    <h1 class="g-unit">Hubs</h1>
    <div class="map">{%
        for y in coords
            %}<div class="map__row">{%
            for x in y %}{%
                if x
                    %}<a href="{{ path('hub_show', {urlKey : x.urlKey}) }}"
                       class="map__cell map__cell--hub">

                    </a>{%
                else
                    %}<div class="map__cell"></div>{%
                endif %}{%
            endfor
            %}</div>{%
        endfor
    %}</div>
{% endblock %}
